@import "./assets/styles/colors.scss";
@import "./assets/styles/fonts.scss";

* {
  font-family: $main-font;
  color: $white;
  font-size: 15px;
  outline: none;
}

body {
  background-color: $light-grey;
}

button,
input {
  border-radius: 4px;
}